@charset "utf-8";

/* CSS Document */
body {
    color: #404040;
    font: 400 15px/22px 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}


#logo {
    overflow-y: auto;
    width: 42px;
    position: absolute;
    top: 30px;
    left: 28px;
}

header {
    font-size: 24px;
    color: #007dbc;
    height: 40px;
    padding-left: 60px;
    background-color: white;
}

#subheader {
    font-size: 12px;
    color: #767676;
    padding-left: 60px;
    font-weight: 700;
    background-color: white;
}

.nav {
    border: 0px;
    background-color: white;
    padding: 0px;
    font-size: 10px;
}


/* Overwrite bootstrap's tabs a  bit */
.mapTabButton {
    color: #767676 !important;
}

.mapTabButton.active {
    color: #007dbc !important;
    font-weight: 700;
}


.tableTabButton {
    color: #767676 !important;
}

.tableTabButton.active {
    color: #007dbc !important;
    font-weight: 700;
}

.sidebar {
    position: absolute;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 23%;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255, 0.85);
}

.indicatorName {
    font-size: 12px;
    color: #3b3b3b;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif, 'FontAwesome';
}

.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    max-width: 100%;
    cursor: inherit;
    border: none;
}

#countrySelector {
    font-size: 12px;
    color: #3b3b3b;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif, 'FontAwesome';
}

#indicatorSelector {
    margin-top: 10px;
    font-size: 12px;
    color: #3b3b3b;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif, 'FontAwesome';
}

#narrativeBox {
    position: absolute;
    overflow-y: scroll;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    top: 288px;
    bottom: 20px;
    max-height: 100%;
    width: 23%;
    padding: 10px;
    padding-top: 0px;
    margin-left: 20px;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255, 0.85);
}

#narrativeTitle {
    font-size: 20px;
    color: #007dbc;
    line-height: 200%;
}

#narrativeText {
    font-size: 12px;
    color: #3b3b3b;
}

#map {
    position: absolute;
    top: 115px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    padding: 10px;
    margin: 24px;
}


#map div {
    cursor: pointer;
}

.mapboxgl-ctrl mapboxgl-ctrl-attrib {
    color: #ffffff00;
}

#legend {
    position: absolute;
    right: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: 0.5px solid #e4e4e4;
    margin-right: 20px;
    width: 15%;
    font-size: 10px;
    color: #3b3b3b;
    overflow: auto;
    border-radius: 20px;
    padding: 10px;
    line-height: 18px;
    margin-bottom: 40px;
}

.legend-key {
    display: inline-block;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

#research {
    position: absolute;
    overflow-y: scroll;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    top: 320px;
    right: 20px;
    bottom: 20px;
    width: 15%;
    max-height: 100%;
    font-size: 10px;
    color: #3b3b3b;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255, 0.8);
}

.status {
    position: absolute;
    left: 57.5%;
    width: 42.5%;
    top: 0;
    height: 5%;
    padding: 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 200%;
    text-align: right;
    overflow: hidden;
}

.links {
    position: absolute;
    left: 57.5%;
    width: 42.5%;
    top: 34%;
    height: 66%;
    padding: 20px;
    background: rgba(0, 125, 188, 0.05);
    font-size: 16px;
    color: #007dbc;
    line-height: 150%;
    overflow-y: scroll;
}

hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #b3d8eb;
    margin: 1em 0;
    padding: 0;
}

h1 {
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    line-height: 20px;
    padding: 20px 2px;
}

a {
    color: #007dbc;
    text-decoration: none;
}

a:hover {
    color: #66b1d7;
}

a:link {
    color: #007dbc;
}

/* visited link */
a:visited {
    color: #007dbc;
}

/* mouse over link */
a:hover {
    color: #007dbc;
}

/* selected link */
a:active {
    color: #007dbc;
}

.heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    line-height: 60px;
    padding: 0 20px;
    background-color: #007dbc;
    color: #fff;
}


ul {
    list-style-type: none;
    font-size: 14px;
    margin: 0;
    padding-left: 20px;
    line-height: 250%;
}

li {
    cursor: pointer;
}

.elementToFadeIn {
    animation: fader 1s linear forwards;
}

@keyframes fader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #b3d8eb;
    border-radius: 0;
}

.marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url(https://docs.mapbox.com/help/demos/building-a-store-locator/marker.png);
}




/* Marker tweaks */
.mapboxgl-popup {
    width: 200px;
    height: 150px;
    font: 'Open Sans', 'Helvetica Neue', sans-serif, 'FontAwesome';
    pointer-events: none;
}

.mapboxgl-popup-close-button {
    display: none;
    pointer-events: none;
}

.mapboxgl-popup-content {
    font: 'Open Sans', 'Helvetica Neue', sans-serif, 'FontAwesome';
    padding: 0;
    pointer-events: none;
}

.mapboxgl-popup-content h3 {
    margin: 0;
    padding: 12px;
    font-size: 14px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    pointer-events: none;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    padding: 12px;
    font-size: 12px;
    pointer-events: none;
}

.mapboxgl-popup-content div {
    padding: 12px;
    pointer-events: none;
}








/* TABLE */
#tableTab {
    position: absolute;
    overflow: auto;
    height:100%;
    width:95%;
}

th {
    cursor: pointer;
    font-size: 12px;
}

td.color {
    color:red;
}

#mydatatable {
    font-size: 12px;
}
