body {
    color: #404040;
    font: 400 15px/22px 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    min-width: 864px;
    height: 550px;
    border: solid 0.5px #f1f1f1;
}

.filters {
    position: fixed;
    /* height: 15%; */
    width: 100%;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background: linear-gradient(90deg, rgba(0, 125, 188, 1) 0%, rgba(0, 180, 133, 1) 100%);
    z-index: 3;
}

* {
    box-sizing: border-box;
}

.title span {
    color: white;
    font-size: 22px;
    font-weight: 700;
}

h1 {
    color: white;
    font-size: 20px;
}

.main {
    position: absolute;
    /* overflow-y: auto;
    overflow-x:hidden; */
    width: 50%;
    height: 450px;
    top: 100px;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    z-index: 1;
}

#narrative {
    position: absolute;
    /* overflow-y: auto; */
    width: 100%;
    height: 420px;
    top: 130px;
    padding-top:130px;
    left: 0;
    background-color: white;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    z-index: 2;
}


.countryList>li.countryItem ul {
    list-style: none;
    position: absolute;
    top: -1000em;
    left: 0px;
}


.countryList li.countryItem ul li a {
    display: inline;
}

.countryList>li.countryItem:hover ul {
    top: 3em;
}

.countryList {
    text-align: left;
    color: white;
    padding-left: 0px;
    font-size: 10px;
    font-weight: 700;
}

li {
    display: inline-block;
    cursor: pointer;
}

li:hover {
    font-weight: 700;
    border: solid 0.5px white;
}

li.active {
    border: solid 0.5px white;
    transition: 0.3s ease border;
    color:white !important;
}



li.active a {
    color: rgb(255, 255, 255) !important;
}


.narrativeTitle {
    font-size: 16px;
    color: #007dbc;
    font-weight: 700;
}

/* .narrativeLink {
    font-size: 12px;
    font-weight: 700;
    line-height: 400%;
    padding-left: 20px;
    border: solid 0.5px #4da4d0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
} */

.narrativeResearch {
    font-size: 11px;
    color: #767676;
}


table td{
    padding:20px;
    vertical-align: text-top;
}

.col1 {
    width:66%;
    border-right: solid 0.5px #e4e4e4;
}


/* Fade */
.elementToFadeIn {
    animation: fader 1s linear forwards;
}

@keyframes fader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

a {
    color: #007dbc;
    text-decoration: none;
}

a:visited {
    color: #007dbc;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #b3d8eb;
    border-radius: 0;
}