body {
    color: #404040;
    font: 400 15px/22px 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    min-width:864px;
    height:550px;
    overflow:hidden;
}

* {
    box-sizing: border-box;
}

.title span {
    color: #007dbc;
    font-size: 22px;
}

h1 {
    color: #007dbc;
    font-size: 20px;
}
/* 
#intro {
    font-size: 12px;
} */

.filters {
    position: fixed;
    /* height: 15%; */
    width:100%;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: #f3f9fc;
    z-index:3;
}

.main {
    position: absolute;
    overflow-y: auto;
    overflow-x:hidden;
    width: 50%;
    height: 450px;
    top: 100px;
    left:0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    z-index:1;
}

.narrative {
    position: absolute;
    overflow-y: auto;
    width: 50%;
    height: 420px;
    top: 130px;
    right:0;
    background-color:white;
    font-size:12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    z-index:2;
}

.btn-group {
    font:'Open Sans', 'Helvetica Neue', sans-serif;
    color:#4da4d0;
    font-size:12px !important;
}

.btn-outline-primary {
    color:#4da4d0;
    border-color:#4da4d0;
    
    font-size:12px !important;
    font-weight:700 !important;
} 

.btn-outline-primary:active, .btn-outline-primary:hover, .btn-outline-primary:visited, .btn-outline-primary:focus {
    background-color:#4da4d0 !important;
} 

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #4da4d0;
    border-color: #4da4d0;
}


.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007dbc;
}



/* Table Options */
table {
    font-size: 10px;
    padding-left: 10px;
    border-bottom: 0px;
}



table td {
    font-size: 10px;
    margin: 10px;
    border-bottom: 0px;
    vertical-align: top;
    line-height: 250%;
}

thead {
    visibility: hidden;
}


.tableTitle {
    top: 0;
    font-size: 18px;
}

.tableStatus {
    top: 0;
    font-size: 10px;
}

.tableUpcoming {
    font-size: 10px;
    color: #007dbc;
    background-color: #e6f2f8;
    border-bottom: 0px;
    padding-left:5px;
    padding-right:5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.tableRegularity {
    font-size: 10px;
    color: #767676;
    background-color: #f1f1f1;
    padding-left:5px;
    padding-right:5px;
    border-bottom: 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* .hover:hover tr{
    background-color:#007dbc;
    color:red;
} */

table.dataTable tbody th, table.dataTable tbody td {
    padding-top: 25px;
}

#mydatatable tbody tr:hover {
    background-color: #f3f9fc;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight:600;
}



#narrativeTitle {
    font-size: 16px;
    color: #007dbc;
    font-weight:700;
}

#narrativeLink {
    font-size: 12px;
    font-weight:700;
    line-height:400%;
    padding-left:20px;
    border:solid 0.5px #4da4d0;
    /* background-color:#4da4d0; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#narrativeUpcoming {
    color: #007dbc;
}

/* 
#narrativeLink a {
    color: #FFFFFF;
} */


/* Fade */
.elementToFadeIn {
    animation: fader 1s linear forwards;
}

@keyframes fader{
    from {opacity:0;}
    to {opacity:1}
}

a {
    color: #007dbc;
    text-decoration: none;
}

a:visited {
    color: #007dbc;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #b3d8eb;
    border-radius: 0;
}